.container {
  width: 100%;
  height: 100%;
}

.main_header {
  margin: 0 auto;
  max-width: 96%;
  height: 105px;
  position: relative;
}

.main_footer {
  margin: 0 auto;
  max-width: 96%;
  height: 45px;
}

.logo_container {
  padding-top: 20px;
  padding-bottom: 14px;
  float: left;
  line-height: 0px;
  width: 24%;
}

.logo {
  height: 50px;
}

.searchbox_container {
  width: 100%;
  margin: 0 auto;
  float: left;
  position: absolute;
  top: 4.7rem;
  size: 16px;
}

.search_curve_left {
  float: left;
}

.search_curve_right {
  float: left;
}

input {
  float: left;
  width: 68%;
  height: 20px;
}

.search_cross {
  position: absolute;
  top: 0.3rem;
  left: 67%;
}

.search_icon {
  float: left;
  margin-left: 1px;
}

button {
  float: right;
  height: 20px;
  width: 15%;
}

.profile_container {
  float: right;
  padding-top: 25px;
  padding-bottom: 22px;
  min-width: 15%;
}

.main_navbar {
  max-width: 96%;
  margin: 0 auto;
  height: 40px;
}

.nav_menu_container {
  display: none;
}

.friend_container,
.topic_container {
  display: inline;
  width: 17px;
  height: 17px;
  float: right;
  margin-left: 3%;
  margin-top: 11px;
}

.friend_text,
.topic_text {
  display: none;
}

.hamburger_icon {
  margin-left: 3%;
  margin-top: 17px;
}

.nav_menu {
  margin: 10px auto;
  padding-right: 1%;
  display: block;
}

.left_sidebar,
.sidebar_heading_text,
.searches_text,
.tutorials_text,
.icons,
.right_sidebar,
.right_sidebar_heading_text {
  display: none;
}

.main_section {
  max-width: 96%;
  height: 614px;
  margin: 31px auto;
}

section {
  max-width: 100%;
}

.curve {
  float: left;
  width: 1.3%;
  height: 100%;
  height: 65px;
}

.all_entries_tab,
.subscribed_tab {
  float: left;
  height: 65px;
  background-color: #f5f5f5;
  width: 48%;
}

.subscribed_tab {
  margin-left: 0.5%;
}

.main_tab_text {
  margin-top: 2.3%;
  margin-left: 35%;
  margin-bottom: 16px;
}

.main_tab {
  width: 100%;
}

.main_heading {
  margin-bottom: 10px;
}

.profile_image {
  float: left;
  margin-right: 2%;
  width: 13%;
  height: 100%;
}

.profile_text {
  float: left;
  margin-right: 2%;
  width: 83%;
}

.main_list_item {
  width: 100%;
  height: 70px;
  margin: 15px 0px;
}

.footer_menu_container {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 12px;
  padding-left: 0.6%;
  display: block;
}

.footer_menu {
  padding-left: 3%;
}

.copyright {
  display: none;
}

.active {
  width: 48%;
  text-align: center;
  height: 30px;
  position: absolute;
  float: left;
  z-index: 1;
}

.deactive {
  text-align: center;
  width: 48%;
  height: 30px;
  float: left;
  margin-left: 1%;
  position: absolute;
  left: 50%;
}

.margin_left {
  margin-left: 5%;
}

.deactive_left {
  width: 48%;
  height: 30px;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.sub_tab {
  position: relative;
}

.active_background,
.deactive_background {
  width: 48%;
  height: 27px;
  position: absolute;
}

.deactive_background_right,
.active_background_right {
  width: 48%;
  height: 27px;
  position: absolute;
  left: 50%;
}

.bullets {
  display: none;
}
