@media (min-width: 480px) {
  .main_header {
    height: 85px;
  }

  .bullets {
    display: inline;
  }

  .searchbox_container {
    width: 40%;
    margin-left: 2.5%;
    position: relative;
    top: 0px;
  }

  .search_curve_left {
    padding-top: 39px;
  }

  .search_curve_right {
    padding-top: 40px;
  }

  input {
    margin-top: 40px;
    width: 55%;
  }

  .hamburger_icon {
    display: none;
  }

  .search_cross {
    position: absolute;
    top: 45px;
    left: 54%;
  }

  .search_icon {
    margin-top: 40px;
  }

  button {
    float: left;
    height: 20px;
    width: 53px;
    margin-top: 40px;
    margin-left: 2%;
  }

  .nav_menu {
    display: inline;
  }

  .main_navbar {
    height: 40px;
  }

  .nav_menu_container {
    height: 14px;
    margin-left: 10px;
    padding-bottom: 13px;
    float: left;
    padding-top: 10px;
    display: inline;
    width: 80%;
  }

  .footer_menu {
    padding-left: 0;
  }

  .friend_container,
  .topic_container {
    display: inline;
    width: 17px;
    height: 17px;
    margin-left: 3%;
    margin-top: 11px;
  }

  .friend_text,
  .topic_text {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav_menu_container {
    width: 58%;
  }

  .right_sidebar {
    display: block;
    float: left;
    width: 19%;
    height: 614px;
    background-color: #f5f5f5;
  }

  .right_sidebar_heading_text {
    display: block;
    padding-left: 11px;
    padding-top: 10px;
    width: 100%;
    height: 42px;
  }

  .tutorials_text {
    width: 95%;
    padding-top: 13px;
    padding-left: 5%;
    padding-bottom: 8px;
    display: block;
  }

  section {
    width: 75%;
    margin-right: 2.7%;
    float: left;
  }

  .footer_menu_container {
    display: block;
    float: left;
    width: 85%;
  }

  .copyright {
    display: inline;
    float: right;
    padding-top: 15px;
    padding-right: 2px;
  }

  .friend_container,
  .topic_container {
    display: inline;
    width: 130px;
    height: 17px;
    margin-left: 3%;
    margin-top: 11px;
  }

  .friend_text,
  .topic_text {
    display: inline;
  }
}

@media (min-width: 1200px) {
  .main_header {
    max-width: 62%;
  }

  .main_navbar {
    margin: 0 auto;
    width: 62%;
    height: 40px;
  }

  .search_button_container {
    margin-left: 1.5%;
    float: left;
    width: 16%;
  }

  .friend_container,
  .topic_container {
    display: block;
    width: 130px;
    height: 17px;
    margin-left: 0.9%;
    margin-top: 11px;
  }

  .left_sidebar {
    display: block;
    height: 614px;
    float: left;
    width: 20%;
  }

  .sidebar_heading_text {
    display: block;
    padding-left: 11px;
    padding-top: 10px;
    width: 100%;
    height: 42px;
  }

  .searches_text {
    width: 77%;
    margin-top: 13px;
    margin-left: 5%;
    margin-bottom: 8px;
    display: inline-block;
  }

  .icons {
    display: block;
    margin-top: 14px;
    margin-right: 14px;
    float: right;
  }

  .main_section {
    max-width: 62%;
    height: 614px;
    margin: 31px auto;
  }

  .nav_menu_container {
    width: 63%;
    padding-bottom: 13px;
    padding-top: 10px;
  }

  section {
    width: 55%;
    max-width: 55%;
    margin: 0 2.7%;
  }

  .nav_menu {
    margin-right: 2.5%;
  }

  .profile_menu_container {
    text-align: end;
  }

  .main_footer {
    margin: 0 auto;
    max-width: 62%;
    height: 45px;
  }
}
