@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");

html {
  height: 100%;
  background: linear-gradient(
    rgb(94, 169, 255),
    rgb(142, 203, 253),
    rgb(169, 219, 253)
  );
  background-repeat: no-repeat;
}

table {
  width: 50%;
}

th {
  text-align: left;
  width: 25%;
  padding: 5px;
  color: white;
  background-color: rgb(0, 141, 92);
}

th:first-child {
  width: 50%;
}

td {
  width: 25%;
  padding: 5px;
  color: black;
  background-color: white;
}

.container {
  margin-left: 6%;
  margin-top: 4%;
  color: rgb(58, 58, 58);
  font-family: "Titillium Web", sans-serif;
}

h3 {
  margin: 0%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 141, 92);
  text-decoration: underline;
}
