html{
    height: 100%;
    background-image: linear-gradient(rgb(94, 242, 255), rgb(142, 244, 253),rgb(169, 246, 253));
    background-repeat: no-repeat;
}
table{
    width: 45%;
}
th{
    text-align: left;
    width: 25%;
    padding: 6px;
    color: white;
    background-color: rgb(0, 141, 92);
}
tr{
    border: 1px solid black;
    border-radius: 10px;
}
td{
    width: 25%;
    padding: 6px;
    color: black;
    background-color: white;
}
.container{
    margin-left: 6%;
    margin-top: 4%;
    color: rgb(58, 58, 58);
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}
h3{
    margin: 0%;
}