@media (min-width: 480px) {
  .search_box {
    width: 70%;
  }

  .left,
  .middle,
  .right {
    height: 300px;
  }

  .arrow {
    width: 25px;
    height: 25px;
    padding: 8px;
    margin-left: 8px;
  }

  .arrow_left,
  .arrow_right,
  .arrow_right_explore {
    width: 25px;
    height: 25px;
    padding: 8px;
  }

  .dialog_box h1 {
    font-size: 2em;
  }

  .image_pop h4 {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }

  .image_pop h5 {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .image_pop h6 {
    font-size: 0.5rem;
    line-height: 0.7rem;
  }

  .image_pop svg {
    width: 15px;
    height: 15px;
    padding-top: 2px;
  }

  .headings {
    font-size: 20px;
  }

  .about_info {
    width: 67%;
    margin: 0 auto;
  }

  .about_info h6 {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }

  .updates {
    margin-top: 34%;
  }

  .dots_explore {
    margin: 0 6.7%;
  }
}

@media (min-width: 768px) {
  .top_header,
  .slider,
  .icon_banner,
  .products,
  .tips_container,
  footer {
    max-width: 86%;
  }

  .explore_container {
    padding-left: 7%;
    padding-right: 0;
  }

  .logo_heading {
    margin-right: 3%;
  }

  .left,
  .middle,
  .right {
    height: 350px;
  }

  .arrow {
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-left: 10px;
  }

  .arrow_left,
  .arrow_right,
  .arrow_right_explore {
    width: 35px;
    height: 35px;
    padding: 10px;
  }

  .dialog_box {
    margin-left: 7%;
    margin-top: 0%;
  }

  .dialog_box h1 {
    font-size: 3em;
  }

  .dialog_box h4 {
    display: block;
    font-weight: 500;
    line-height: 1.5em;
    color: #898989;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 1.5em;
  }

  .dialog_box button {
    font-size: 1.2em;
  }

  .image_pop {
    width: 35%;
    padding: 2%;
  }

  .image_pop h4 {
    font-size: 1rem;
  }

  .image_pop h5 {
    font-size: 0.8rem;
  }

  .image_pop h6 {
    font-size: 0.65rem;
  }

  .image_pop svg {
    padding-top: 1px;
  }

  .float {
    float: none;
    padding-left: 0%;
  }

  .icon_item {
    width: 25%;
    float: left;
  }

  .headings {
    font-size: 24px;
  }

  .product_item {
    max-width: 47.9%;
    margin-right: 1.8%;
  }

  .mobile,
  .tab {
    display: inline-block;
  }

  .overlay_icon {
    display: inline;
    padding: 5%;
    margin-right: 0.7%;
  }

  .tab_tips_left,
  .mobile_tips {
    width: 30%;
    margin-right: 4.5%;
    display: inline-block;
  }

  .tab_tips_right {
    width: 30%;
    display: inline-block;
  }

  .tips_item h5 {
    font-size: 12.5px;
  }

  .show_more {
    width: 22%;
    font-size: 1rem;
  }

  .about_info,
  .updates,
  .connect,
  .menu,
  .account {
    width: 18.2%;
    float: left;
    text-align: justify;
    margin-top: 0;
  }

  .connect,
  .menu,
  .account {
    padding: 0 3%;
  }

  .side_icon {
    margin-top: 1%;
  }

  .about_info h6 {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .link {
    font-size: 0.75rem;
    line-height: 1.7rem;
  }

  .location {
    margin-top: 2%;
    width: 100%;
  }

  .call {
    width: 100%;
    margin: 2% 0;
    display: block;
    float: none;
  }

  .update_input input {
    margin-left: 0;
    font-size: 0.7rem;
    padding: 3%;
  }

  .footer_headings {
    font-size: 1rem;
    margin-bottom: 2.3%;
  }

  .send {
    padding: 3%;
    height: 1.65rem;
    margin-bottom: 5%;
  }

  .explore_left button {
    width: 34%;
    font-size: 0.5rem;
    line-height: 1rem;
    padding: 1%;
    position: absolute;
    z-index: 1;
    bottom: -20%;
    left: 0;
  }

  .explore_left {
    float: left;
    position: relative;
    width: 30%;
    padding-top: 8%;
  }

  .explore_left h2 {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1%;
  }

  .first_container {
    width: 30%;
  }

  .explore_caraousel .tab_explore {
    width: 10%;
    display: inline;
    object-fit: cover;
    height: 300px;
    display: inline;
    float: right;
    margin-left: 1%;
  }

  .mobile_explore {
    object-fit: cover;
    height: 300px;
    margin-bottom: 9%;
  }

  .dots_explore {
    margin: 0 8.7%;
    padding: 2px;
  }

  .second_container {
    float: right;
    width: 28%;
    margin-left: 1%;
  }

  .explore_left .tab_explore {
    display: inline-block;
    font-weight: 500;
    color: #616161;
    font-size: 0.5rem;
    padding-right: 35%;
    line-height: 0.7rem;
  }

  .images_grid {
    position: relative;
    width: 100%;
    padding: 18% 0;
  }

  .grid_container img {
    padding: 0%;
    position: absolute;
  }

  .grid_button {
    display: none;
  }

  .image1 {
    width: 14%;
    object-fit: cover;
    height: 61%;
    top: 0;
    left: -5%;
  }

  .image2 {
    width: 22%;
    object-fit: cover;
    height: 36%;
    bottom: 1%;
  }

  .image5 {
    width: 34%;
    top: 12%;
    left: 10%;
    object-fit: cover;
    height: 49%;
  }

  .image6 {
    width: 21%;
    bottom: 5%;
    left: 23%;
    object-fit: cover;
    height: 32%;
  }

  .image7 {
    width: 20%;
    bottom: 18%;
    left: 45%;
    object-fit: cover;
    height: 61%;
  }

  .image9 {
    width: 24%;
    bottom: 29%;
    left: 66%;
    object-fit: cover;
    height: 62%;
  }

  .image8 {
    width: 16%;
    bottom: 6%;
    left: 66%;
    object-fit: cover;
    height: 21%;
  }

  .image3 {
    width: 9%;
    top: 6%;
    right: 0;
    object-fit: cover;
    height: 65%;
  }

  .image4 {
    width: 17%;
    bottom: 10%;
    right: 0;
    object-fit: cover;
    height: 17%;
  }

  .tab_grid {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .search_box {
    width: 33%;
  }

  .nav_bar {
    display: block;
    float: left;
    width: 36%;
    padding-top: 0.4rem;
  }

  .menu_item {
    list-style-type: none;
    float: left;
    margin-right: 8%;
  }

  .drop_down {
    margin-left: 0.9em;
  }

  .profile_container {
    width: 19%;
    display: block;
    float: right;
  }

  .profile_container .profile_icon {
    margin-left: 10%;
    float: right;
  }

  .profile_container .side_icons {
    margin-top: 1em;
    margin-left: 10%;
    float: right;
  }

  .menu_icon {
    display: none;
  }

  .left,
  .middle,
  .right {
    height: 533px;
  }

  .dialog_box button {
    font-size: 1.5em;
    padding: 5%;
  }

  .image_pop {
    width: 31%;
    padding: 2%;
  }

  .image_pop h4 {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  .image_pop h5 {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .image_pop h6 {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .image_pop svg {
    height: 18px;
    width: 18px;
    padding-top: 5px;
  }

  .icon_item {
    padding-left: 2%;
  }

  .top_text {
    font-size: 18px;
    line-height: 27px;
  }

  .bottom_text {
    font-size: 16px;
    line-height: 24px;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
  }

  .headings {
    font-size: 30px;
  }

  .laptop {
    display: inline-block;
  }

  .product_item {
    max-width: 23%;
    margin-right: 1.7%;
  }

  .tips_item h5 {
    font-size: 15px;
  }

  .explore_caraousel .tab_explore {
    height: 450px;
  }

  .mobile_explore {
    height: 450px;
    margin-bottom: 13%;
  }
}

@media (min-width: 1200px) {
  .dialog_box h1 {
    font-size: 3.2rem;
  }

  .dialog_box h4 {
    font-size: 1.1rem;
  }

  .dialog_box button {
    font-size: 1.2rem;
    margin-top: 1%;
  }

  .image_pop h4 {
    font-size: 1.3rem;
    line-height: 2.2rem;
  }

  .image_pop h5 {
    font-size: 1.1rem;
    line-height: 1.9rem;
  }

  .image_pop h6 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .tips_item h5 {
    font-size: 19px;
  }

  .mobile_explore {
    margin-bottom: 10%;
  }

  .dots_explore {
    margin: 0 6%;
  }

  .explore_left {
    float: left;
    width: 30%;
    padding-top: 13%;
  }

  .explore_left h2 {
    text-align: left;
    font-size: 2.1rem;
    line-height: 2.5rem;
  }

  .explore_left .tab_explore {
    display: inline-block;
    font-weight: 500;
    color: #616161;
    font-size: 0.8rem;
    margin-top: 2%;
    padding-right: 35%;
    line-height: 1.2rem;
  }

  .explore_left button {
    width: 30%;
    margin-top: 5%;
    font-size: 0.9rem;
    line-height: 2rem;
    padding: 1%;
  }

  .explore_pop h6 {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .explore_pop h4 {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  .arrow_explore {
    padding: 2%;
    height: 20px;
    width: 20px;
  }
}
