@font-face {
  font-family: gilroy;
  src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: gilroy_bold;
  src: url("../fonts/Gilroy-Bold.ttf");
}

.container {
  font-size: 62.5%;
  font-family: gilroy;
}

header {
  background: linear-gradient(to right, #f9f1e7 67%, #fcf8f3 33%);
}

.logo_link {
  text-decoration: none;
  color: black;
}

.logo_heading {
  font-size: 2.4em;
  font-weight: 700;
  font-family: gilroy_bold;
}

.menu_item a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 500;
  font-size: 1.6em;
}

.menu_item a:hover {
  color: #ffb151;
  cursor: pointer;
}

.drop_down:hover {
  cursor: pointer;
}

.drop_down:hover > path {
  stroke: #ffb151;
}

.search_box input {
  font-family: gilroy;
  font-weight: 400;
  font-size: 1.4em;
  border: none;
  color: #616161;
  background: white;
}

.search_box input:hover {
  border: 1px solid #ffb151;
}

.menu_icon:hover,
.profile_container .side_icons:hover {
  stroke: #ffb151;
  cursor: pointer;
}

.profile_icon:hover {
  cursor: pointer;
  border: 1px solid #ffb151;
  border-radius: 50%;
}

.dots:hover,
.dots_explore:hover,
.active {
  border: 1px solid #e89f71;
  border-radius: 20px;
  cursor: pointer;
}

.dots:hover > circle,
.active > circle,
.dots_explore:hover > circle {
  fill: #e89f71;
}

.arrow {
  border-radius: 20px;
  background: #f7decd;
}

.arrow:hover {
  border-radius: 20px;
  background: #e89f71;
  cursor: pointer;
}

.arrow:hover > path {
  stroke: white;
}

.dialog_box {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.72);
}

.dialog_box h1 {
  font-family: gilroy_bold;
  display: inline-block;
  line-height: 1.5em;
  font-size: 1em;
  color: #3a3a3a;
}

.dialog_box button {
  width: 100%;
  color: white;
  background: #e89f71;
  border: none;
  font-weight: 500;
  font-size: 0.8em;
  padding: 4%;
  margin-top: 6%;
  font-family: gilroy;
}

.dialog_box button:hover {
  background: #f16f1d;
  cursor: pointer;
}

.image_pop,
.explore_pop {
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(12px);
}

.image_pop h4 {
  font-weight: 600;
  color: #3a3a3a;
  font-size: 0.7rem;
  line-height: 1rem;
}

.image_pop h5 {
  font-weight: 600;
  color: #3a3a3a;
  font-size: 0.5rem;
  line-height: 0.9rem;
  display: inline;
}

.image_pop h6 {
  font-weight: 500;
  color: #616161;
  font-size: 0.4rem;
  line-height: 0.3rem;
}

.image_pop svg:hover {
  cursor: pointer;
}

.image_pop svg:hover > .arrow {
  fill: #ffb151;
}

.top_text {
  font-weight: 600;
  color: #3a3a3a;
  font-size: 12px;
  line-height: 10px;
}

.bottom_text {
  font-weight: 600;
  color: #898989;
  line-height: 10px;
}

.headings {
  line-height: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 5%;
  color: #3a3a3a;
  font-family: gilroy_bold;
}

.product_item {
  background: #f4f5f7;
}

.product_item h5 {
  font-size: 20px;
  font-weight: 600;
  color: #3a3a3a;
  position: relative;
  line-height: 140%;
}

.explore_left h2 {
  font-family: gilroy_bold;
}

.tips_item h5 {
  font-size: 13px;
  font-weight: 600;
  color: #3a3a3a;
  position: relative;
  line-height: 140%;
}

.description {
  font-size: 12px;
  font-weight: 500;
  color: #898989;
  line-height: 170%;
}

.price {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
  line-height: 170%;
  padding-bottom: 5%;
}

.strike_price {
  color: #b0b0b0;
  font-size: 16px;
  font-weight: normal;
  line-height: 170%;
  text-decoration: line-through;
}

.discount {
  color: white;
  font-weight: 500;
  font-size: 16px;
  background: url("../images/discount\ circle.png");
  background-size: 100% 100%;
  padding: 15px 8px;
}

.new {
  color: white;
  font-weight: 500;
  font-size: 16px;
  background: url("../images/new_circle.png");
  background-size: 100% 100%;
  padding: 15px 8px;
}

.product_item:hover {
  opacity: 1;
  cursor: pointer;
}

.product_item:hover .overlay {
  background: #3a3a3a;
  opacity: 0.72;
}

.overlay button {
  background: white;
  border: none;
  font-size: 1rem;
  color: #e89f71;
  font-family: gilroy;
  opacity: 1;
}

.overlay button:hover {
  color: white;
  border: none;
  background: #e89f71;
  cursor: pointer;
}

.overlay_text {
  color: white;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.share:hover > .overlay_text,
.like:hover > .overlay_text {
  color: #e89f71;
}

.like:hover > .overlay_icon {
  stroke: #e89f71;
}

.share:hover > .overlay_icon path {
  fill: #e89f71;
}

.show_more {
  background: white;
  border: 1px solid #e89f71;
  color: #e89f71;
  font-weight: 500;
  line-height: 150%;
  font-size: 0.8rem;
  font-family: gilroy;
}

.show_more:hover {
  background: #e89f71;
  color: white;
  cursor: pointer;
}

.arrow_left,
.arrow_right,
.arrow_right_explore,
.arrow_left path,
.arrow_right path {
  border-radius: 20px;
  padding: 5px;
  background: white;
  stroke: #e89f71;
}

.arrow_left,
.arrow_right,
.arrow_right_explore {
  box-shadow: 0 0 5px rgba(97, 97, 97, 1);
}

.arrow_left:hover,
.arrow_right:hover,
.arrow_right_explore:hover {
  background: #e89f71;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(97, 97, 97, 1);
  cursor: pointer;
}

.arrow_left:hover > path,
.arrow_right:hover > path,
.arrow_right_explore:hover > path {
  stroke: white;
}

.tips_item:hover {
  box-shadow: 0 8px 15px rgba(97, 97, 97, 0.2);
  cursor: pointer;
}

footer {
  border-top: 1px solid #d8d8d8;
  padding-top: 2%;
  padding-bottom: 11%;
}

.footer_links {
  list-style-type: none;
}

.footer_headings {
  font-weight: 800;
  font-size: 0.7rem;
  margin-bottom: 2.3%;
}

.about_info h6 {
  color: #616161;
  font-weight: 500;
  font-size: 0.5rem;
  line-height: 0.7rem;
}

.link {
  text-decoration: none;
  color: #616161;
  font-weight: 500;
  font-size: 0.5rem;
  line-height: 1.5rem;
}

.link:hover {
  text-decoration: underline;
  color: #ffb151;
}

.send {
  background: #e89f71;
  float: left;
  padding: 1.3%;
  margin-bottom: 5%;
  font-family: gilroy;
}

.send:hover {
  background: #f16f1d;
  cursor: pointer;
}

.update_input input {
  float: left;
  padding: 1.7%;
  margin-left: 12%;
  margin-right: 2%;
  font-family: gilroy;
  width: 70%;
  background-color: #f4f5f7;
  border: none;
  margin-bottom: 5%;
}

.update_input input:hover {
  border: 1px solid #ffb151;
}

.explore_container {
  background: #fcf8f3;
}

.arrow_explore {
  background: #e89f71;
}

.arrow_explore:hover {
  background: #f16f1d;
  cursor: pointer;
}

.explore_left h2 {
  font-weight: 700;
  font-size: 0.9rem;
}

.explore_left button {
  font-family: gilroy;
  font-weight: 500;
  color: white;
  padding: 1.5%;
  border: none;
  line-height: 1.3rem;
  font-size: 0.6rem;
  background: #e89f71;
}

.explore_left button:hover {
  background: #f16f1d;
  cursor: pointer;
}

.explore_pop h6 {
  font-weight: 500;
  font-size: 0.4rem;
  line-height: 1rem;
  color: #3a3a3a;
}

.grid_container h6 {
  font-weight: 600;
  text-align: center;
  color: #616161;
  font-size: 0.7rem;
}

.grid_container h2 {
  font-family: gilroy_bold;
  text-align: center;
  margin: 2% 0;
  font-size: 1.2rem;
  color: #3a3a3a;
}
