.container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  background-color: #407ad6;
}

.logo a {
  text-decoration: none;
  color: aliceblue;
}

.new-para {
  color: rgb(250, 135, 135);
}

#type-mode,
#game-mode {
  border: 1px solid rgb(10, 194, 226);
  background: none;
  color: aliceblue;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#type-mode:hover,
#game-mode:hover {
  background: rgb(10, 194, 226);
  color: aliceblue;
}

.keys {
  border: 2px solid grey;
  font-size: 30px;
  border-radius: 3px;
  color: rgb(65, 65, 65);
  text-align: center;
}

.dummy2,
.dummy1 {
  border: 2px solid grey;
  font-size: 15px;
  border-radius: 3px;
  color: rgb(65, 65, 65);
  text-align: center;
}

.double {
  font-size: 18px;
}

.paragraph-container {
  font-size: 35px;
  height: 38vh;
}

.content {
  border: 1px solid grey;
}

.caps,
.tab,
.enter,
.shift,
.space {
  font-size: 20px;
}

.letters {
  padding: 2px 4px;
  font-size: 30px;
  text-align: justify;
  border-radius: 3px;
  text-align: center;
  margin: 0 1px;
}

#change-para,
#balloon-btn,
#snowball-btn,
#easy-btn,
#medium-btn,
#hard-btn,
#reload-btn,
#lesson-btn {
  border: none;
  background: #407ad6;
  color: aliceblue;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

#change-para:hover,
#balloon-btn:hover,
#snowball-btn:hover,
#easy-btn:hover,
#medium-btn:hover,
#hard-btn:hover,
#reload-btn:hover,
#lesson-btn:hover {
  background: #2c6acf;
}

.accuracy,
.speed {
  color: rgb(109, 109, 109);
}

.cursor {
  border-bottom: 6px solid #407ad6;
}

.active {
  background: rgba(92, 163, 245, 0.7);
}

.clicked {
  background: rgb(163, 248, 208, 0.5);
}

#left-hand,
#right-hand {
  opacity: 0.7;
}

.games-navigator {
  opacity: 1;
  background: radial-gradient(
    rgb(165, 219, 255),
    rgb(190, 224, 252),
    rgb(204, 233, 250)
  );
}

.speed-overlay,
.finish-overlay {
  opacity: 1;
  background: rgb(155, 155, 155, 0.5);
}

.finish-overlay h1 {
  color: rgb(153, 26, 26);
}

.speed-lives {
  color: rgb(128, 128, 128);
}

.screenshot {
  border-radius: 8px;
}

.letters-snowball {
  font-size: 30px;
  border: 1px solid white;
  border-radius: 5px;
  color: rgb(3, 47, 85);
  background-color: rgb(169, 252, 252, 0.5);
}

.pressed {
  opacity: 0.4;
}

.highlight {
  background-color: white;
}

.speed-snowball h4 {
  color: white;
}

#click-content {
  color: #407ad6;
}
